
.loginpage{
	background-color: white;
    width: 338px;
       padding: 45px;
    margin: 25px;
	border-width: 1px;
    border-color: #0067a4;
	border-style: solid;
	margin-top: 223px;
	font-family: 'Philosopher', sans-serif;
	font-family: 'Courgette', cursive;
	height: 137px;
       padding-right: 79px;
}

 body {
	
	background-image: url("../se project/doc1.jpg");
	background-size:cover;
    background-repeat: no-repeat;
}

.color{
	background-color:white;
}

tr.row1 > td
{
  padding-bottom: 1em;
      text-align: center;
}
tr.nowrap > td {
	
  white-space: nowrap ;
      text-align: center;
}

.header{
	font-family: 'Courgette', cursive;
	font-family: 'Philosopher', sans-serif;
	font-family: 'Source Serif Pro', serif;
	font-size: -webkit-xxx-large;
    margin-bottom: -147px;
    color: #0067a4;
	    margin-left: 241px;
}

.button1{
	margin: 4px 0px 0px 143px;
	padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
	margin-top: 20px;
	background-color: #0067a4;
    color: white;
    border-radius: 4px;
	
	border:none;
	display: inline-block;
}

.button1:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}